node_modules/
test-results/
tests-examples/
playwright-report/
playwright/.cache/
/playwright-report/
/blob-report/
/playwright/.cache/
**/**.test.ts-snapshots
/secrets/**.ts
/secrets/**.env
**/.vscode
